@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Bauziet";
    src: url("/fonts/Bauziet-Wide-ExtraBold.woff2") format("woff2"),
      url("/fonts/BauzietWideExtraBold.woff") format("woff");
  }

  * {
    scroll-behavior: smooth;
  }

  h1,
  h2 {
    @apply font-heading;
  }
}

.custom-shadow {
  box-shadow: 0px 100px 80px rgba(120, 149, 237, 0.07),
    0px 41.7776px 33.4221px rgba(120, 149, 237, 0.0503198),
    0px 22.3363px 17.869px rgba(120, 149, 237, 0.0417275),
    0px 12.5216px 10.0172px rgba(120, 149, 237, 0.035),
    0px 6.6501px 5.32008px rgba(120, 149, 237, 0.0282725),
    0px 2.76726px 2.21381px rgba(120, 149, 237, 0.0196802);
}

.floating {
  animation: floating-globe 3s ease-in-out infinite;
}

.animated-text {
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-image: url(/images/liquid.webp);
  background-size: cover;
  background-position: center center;
  color: transparent;
}

@keyframes floating-globe {
  0% {
    filter: drop-shadow(0 20px 15px rgba(6 16 45 / 0.3));
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(0 25px 35px rgba(6 16 45 / 0.2));
    transform: translatey(-20px);
  }
  100% {
    filter: drop-shadow(0 20px 15px rgba(6 16 45 / 0.3));
    transform: translatey(0px);
  }
}
