@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: "Bauziet";
    src: local("Bauziet"), url(./fonts/Bauziet-Norm-Bold.ttf) format("ttf");
  }

  h1,
  h2 {
    @apply font-heading;
  }
}

@tailwind utilities;

.floating {
  animation: floating-globe 3s ease-in-out alternate infinite;
}

@keyframes floating-globe {
  100% {
    transform: translate3D(0, -30px, 0);
  }
}
